


.Login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Login__container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.Login__container_image {
    width: 350px;
}

.Login__container_image img {
    width: 100%;
}

.Login__container_btn button {
    width: 350px;
    height: 50px;
    background-color: #191919;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.Login__container_btn button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
