

.Home {
    background-color: #121212;
    overflow-y: auto;
    width: 100%;
}

.Home__container {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Home__container__recentlyPlayed h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.Home__container__recentlyPlayed__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 12px;
}

.Playlist__body__songs__header__duration img {
    width: 18px;
    height: 18px;
}

